.home-card {
    float: left;
}

.heading {
    margin: 3% 0 5% 0;
    /* 上下边距 */
    font-size: x-large;
    font-weight: bolder;
}

.title {
    font-size: large;
    font-weight: bold;
}

.content {
    font-size: small;
    text-indent: 2em;
    /* 第一行缩进2个字符的宽度 */
}